.App {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 80ch;
  align-items: center;
  margin: auto;
}

.input {
  width:80ch;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}



button {
}
